html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2b2b2b;
}

#game {
  display: block;
  background: #000;
}
